<h1 class="border">Stories</h1>
<div class="row">
    {{#each stories}}
    <div class="col s12">
        <div class="card exact-width  grey lighten-4 gap">
            <div class="card-image ">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5 >{{title }}</h5>
                {{!-- <p>{{stripTags }}</p> --}}
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/stories/user/{{user._id}}" class="black-text">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/stories/{{_id}}" class="btn btn-block white-text blue-grey darken-4 ">Read Story</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No stories to display</p>
    {{/each}}
</div>



{{> _footer}}